* {
  box-sizing: border-box;
}

body {
  margin: 0;
  user-select: none;
  touch-callout: none;
  font-family: 'Open Sans';
}

html, body, #root {
  height: 100%;
}

i {
  margin: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  tap-highlight-color: rgba(0, 0, 0, 0);
}
